/* @media screen and (min-width: 1022px){
    .navbar> .hamburger-menu{
        display: none;
    }   

} */
@media screen and (max-width: 1023px){
    .navbar-tablet.show {
        display: flex;
      }
    .navbar-mobile{display: none}  
    .navbar-links{
        display: none;
    }
    .hero-section{flex-direction: column;}
    .hero-left{
        text-align: center;
        margin-right: 0;
    }
    .hero-right{
        padding: 30px;
    }

    .pitch-section{
        flex-direction: column;
        height: 460px;
        padding: 0;
        margin-top: 60px;
    }
    .pitch-section-container{
        flex-direction: column;

    }
    .pitch-left{
        width: 100%;
        text-align: center;
        padding-top: 0;
    }
    .pitch-left {padding: 0;}
    .pitch-right{
        height: 100%;
        width: 100%;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
    .pitch-left, .pitch-right{margin-bottom: 20px;}
    .why-section{
        padding-top: 0;
        margin-bottom: 60px;
    }
    .pitch-left>h1{padding-top: 40px;}
    .why-header>h1{
        font-size:30px;
        margin-top: 60px;
    }
    .why-header>h5{font-size:18px;}
    .play{padding: 0 30px;}
    .christina{
        flex-direction: column;
        padding-top: 41px;
        margin-top: 90px;
    }
    .christina{
        margin-top: 0;
        padding-top: 0;
    }
    .christina-wrapper{flex-direction: column;}
    .christina-left{
        text-align: center;
        margin: 0 auto;
    }
    .christina-right{padding-left:0}
    .christina-right{text-align: center;}
    .christina-right img {padding-top: 0px;}
    .pricing-features{flex-direction: column;}
    .features{
        display: flex;
        flex-direction: column;
        margin-top: 30px;
    }
    .price{
        text-align: center;
        width:auto;
        align-items: center;      
    }
    .price-header{
        display: flex;
        justify-content: center;
    }
    .blue-container{flex-direction: column;}
    .blue-left{
        display: flex;
        gap: 30px;
        padding-bottom: 40px;
        padding-top:0;
    }
    .blue-left-left{width: 50%;}
    .blue-left-right{
        margin-top: 20px;
        margin-left: 40px;
    }
    .blue-left-right>h6{
        font-size: 13px;
        padding-top: 4px;
    }
    
    .hire-us-container{width: 100%}
    .hire-us-color{
        margin-top:0;
        padding-top:10px;
    }
    .hire-us-container>h5{
        margin-top: 0px;
        font-size: 17px;
    }
    .hire-us-container>h5>br{ display: none}
    .hire-us-container>h1{
        padding-top: 12px;
        margin-bottom: 6px;
    }

    .check-yes-text>p{font-size: 16px;}
    .check-yes-text{font-size: 18px;}
    .check-yes> input[type=checkbox]{bottom: 25px;}
    .footer-right{
        flex-direction: column;
        grid-row-gap: 2px;
    }
    .bottom-row>.top-section{margin-top: 0; }

    @keyframes google {
        0% {
            transform: translate(0, 0);
          }
          100% {
            transform: translate(25px, 75px) rotate(720deg);
          }
      }
    @keyframes atlassian {
        0% {
            transform: translate(0, 0);
          }
          100% {
            transform: translate(40px, 60px) rotate(720deg);
          }
      }
    @keyframes asana {
        0% {
            transform: translate(0, 0);
          }
          100% {
            transform: translate(10px, 70px) rotate(720deg);
          }
      }
    @keyframes paypal {
        0% {
            transform: translate(0, 0);
          }
          100% {
            transform: translate(-10px, -30px) rotate(720deg);
          }
      }
    @keyframes weave {
        0% {
            transform: translate(0, 0);
          }
          100% {
            transform: translate(-10px, -15px) rotate(720deg);
          }
      }
    @keyframes google-a {
        0% {
            transform: translate(0, 0);
          }
          100% {
            transform: translate(0px, -90px) rotate(720deg);
          }
      }
    @keyframes calendar {
        0% {
            transform: translate(0, 0);
          }
          100% {
            transform: translate(0px, -100px) rotate(720deg);
          }
      }
    .benefits-card-container{
        flex-wrap: wrap;
        padding-top: 60px;        
    }
    .benefits-card{
        width: 40%;
        padding: 15px;
        font-weight: 600;
    }

}

@media screen and (max-width: 767px){

    .navbar-mobile.show {display: flex;}
    .navbar-tablet{display: none}
    .navbar img{width: 150px;}
    .hero-left{margin-top:120px;}
    .benefits-card-container{width: 100%;}
    .benefits-card{width: 98%;}
    .play{
        height: 300px;
        background-size: cover;
    }
    .christina{
        margin-top: 45px;
    }
    .christina-left-images{
        width: 8.4cm;
        height: 9.6cm;
    }
    .christina-right img {width:90px;}
    .line{display: none}
    .label-box{display: none;}
    .why-dots>.container{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin-left: 50px;
        margin-right: 50px;
    }
    .circle-container{
        display: flex;
        align-items: center;
        gap: 5px;        
    }
    .circle-label{
        display:flex;
        position: relative;
        left: 20px;
        font-size: 16px;

    }
    .play{padding:0}
    .position-lineup{position: relative}
    .basic-elements{right: 27px}
    .components{right:34px}
    .layouts{right: 32px;}
    .brand-box{
        flex-direction: column;
        align-items: center;
    }
    .christina-wrapper{padding-top: 20px}
    .world-best{margin: 15px}
    .pricing{padding: 0}
    .pricing-header>h5{
        margin-top: 15px;
        line-height: 1.3;
    }
    .feature-row{flex-direction: column;}
    .feature{
        padding: 10px 30px;
        padding-bottom: 0;
        margin-bottom: 0;
        width: 85%;
    }
    .blue-left{
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .quote-box{padding-right: 0;}
    .input-grid{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }
    .input-grid > .first-name-one{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .input-grid> .last-one{
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .input-grid > .first-name-two{
        grid-column: 1/2;
        grid-row: 3/4;
    }
    .input-grid> .last-two{
        grid-column: 1/2;
        grid-row: 4/5;
    }
    #budget{
        grid-column: 1/2;
        grid-row: 5/6;
    }
    .country-select{
        grid-column: 1/2;
        grid-row: 6/7;
    }
    .footer-bottom > .left{padding-top:10px}
    .footer-bottom-bottom p:nth-child(2) {margin: 0px 30px;}
    .footer-top, .top-row, 
    .bottom-row, .footer-right{
        flex-direction: column;
        align-items: center;
        gap: 0;
    }
    .footer-top, .top-row, 
    .bottom-row, .footer-right{ text-align: center;}
    .footer-bottom, .footer-bottom>.right{flex-direction: column;}
    .footer-fa-icon{
        display: flex;
        gap: 10px;
        margin-top: 20px;
    }
    .footer-bottom > .left{padding: 20px}
    .footer-fa-icon{margin-top:0px;}
    .right>.country-select{margin:10px}
    .top-section{padding-left: 0}
    .top-section>li>h3{margin-top:0;}
    .top-features{margin-top:0;}
    .footer-bottom > .left{padding-top:10px}
}


